*{
	padding:0; margin:0;
}
img{
	border:none;
}
body{
	font-family:Tahoma; background:#eee;
}
a{
	color:#1c56a0;
}
a:hover{
	text-decoration:none;
}
.karkas{
	min-width:970px; max-width:1280px; margin:0 auto;
}
.header-main{
	background:url(images/head-bg-main.jpg) left top repeat-x;
}
	.header{
		background:url(images/head-bg-road.png) left top no-repeat; height:181px; position:relative;
	}
	.ico{
		list-style:none; position:absolute; left:0; top:0; margin:35px 0 0 20px; 
	}
		.ico li{
			margin:0 0 20px 0;
		}
	.head-form{
		background:#eee; overflow:hidden; padding:10px 0 10px 30px; width:290px; border-radius:0 0 0 10px; position:absolute; right:0; top:0;
	}
		.head-form input{
			float:left;
		}
		.serch-form{
			background:#fff; border:1px solid #a5acb2; height:18px; margin:0 10px 0 0; width:150px;
		}
	.menu{
		list-style:none; float:right; margin:90px 0 0 0; border-bottom:3px solid #93b0c8; padding:0 70px 3px 0;
	}
		.menu li{
			float:left; font:bold 15px "Trebuchet MS"; color:#ebf0f5; padding:0 10px 0 10px; border-left: 1px solid #ebf0f5; line-height:1; text-transform:uppercase;
		}
		.menu li:first-child{
			float:left; font:bold 15px "Trebuchet MS"; color:#ebf0f5; padding:0 10px 0 0px; border-left:none; line-height:1; text-transform:uppercase;
		}
		.menu li a{
			color:#ebf0f5; text-decoration:none;
		}
		.menu li a:hover{
			text-decoration:underline;
		}

.content-under{
	background:#fff url(images/content-bg-under.png) top repeat-x;
}
.content-main{
	width:100%; background:url(images/content-bg.png) right top no-repeat;
}
.logo{
	text-align:right; padding:10px 0 0 0;
}
.content{
	font-size:12px; color:#313131; padding:0 30px 30px 30px; vertical-align:top;
}
.content p{
	font-size:12px; color:#313131; margin: 0 0 20px 0; text-align:justify;
}
.content h1{
	font:normal 24px "Trebuchet MS"; color:#1c56a0; margin:0 0 10px 0;
}
.content h2{
	font:normal 20px "Trebuchet MS"; color:#1c56a0; margin:0 0 10px 0;
}
.content h3{
	font:normal 18px "Trebuchet MS"; color:#1c56a0; margin:0 0 10px 0;
}
.print{
	font:10px "Trebuchet MS"; text-align:right!important;
}
	.print a{
		color:#1c56a0;
	}
	.print a:hover{
		text-decoration:none;
	}
	.print img{
		position:relative; top:8px; margin:0 0 0 10px;
	}
	
.right-bar{
	vertical-align:top; width:480px; padding:20px 30px 0 0;
}
.right-zag{
	background:url(images/right-zag-bg.png) left top no-repeat; margin:-69px 0 20px 0; z-index:100; position:relative; padding: 20px 0 10px 20px; font:18px "Trebuchet MS"; color:#1c56a0; text-decoration:underline;
}
.product-main{
	overflow:hidden; margin:0 30px 20px 0;
}
	.product-main img{
		float:left; margin:0 10px;
	}
	.product-main h1{
		font-size:11px; font-weight:bold; color:#1c56a0;
	}
		.product-main h1 a{
			color:#1c56a0;
		}
		.product-main h1 a:hover{
			text-decoration:none;
		}
	.product-main p{
		font-size:10px; color:#313131; margin:0 0 0 191px; line-height:1.1;
	}
	.all-product{
		font-size:10px; font-weight:bold; text-align:right; color:#1c56a0; border-top:1px solid #c9d7e8; margin:0 30px 0 10px;
	}
	.all-product a{
		color:#1c56a0;
	}
	.all-product a:hover{
		text-decoration:none;
	}
.right-bot{
	background:url(images/contact-bg.jpg) right bottom no-repeat; vertical-align:bottom; padding:0 30px 0 0;
}
.contact{
	text-align:right; margin:20px 30px 0 0; padding:0 0 230px 0; position:relative;
}
	.contact h3{
		font:bold 12px "Trebuchet MS"; color:#1c56a0; margin:0 0 10px 0;
	}
	.contact p{
		font-size:11px; color:#3d3d3d; margin:20px 0 0 0; line-height:1.2;
	}
	.contact p span{
		font-size:12px; font-weight:bold; color:#1c56a0;
	}
	.contact a{
		color:#1c56a0;
	}
	.contact a:hover{
		text-decoration:none;
	}
	.toper{
		position:absolute; bottom:5px; right:-20px;
	}
	
.footer{
	background:#eee; overflow:hidden;
}
	.atstar{
		float:left; margin: 35px 0 20px 30px;
	}
	.copy{
		float:left; font-size:11px; color:#6d6e71; text-align:right; margin:35px 0 0 28%;
	}
	.copy a{
		color:#1c56a0;
	}
	.copy a:hover{
		text-decoration:none;
	}
	.ftr-link{
		float:right; margin: 20px 80px 10px 0;
	}
	.ftr-link img{
		margin:0 5px 5px 0;
	}